body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('5172658.jpg');
    background-size: cover;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: rgba(210, 155, 155, 0.8);
    /* Add transparency to the background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
    width: 280px;
}

.login-form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 170px;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: blue;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Add transparency to the background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    display: none;
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.9);
    /* Lighten the background color on hover */
}

.container h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#output {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}